<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>The library
                    <p class="lead"></p>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <br>
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-title" href="#"><img alt="" src="https://images.booksense.com/images/307/251/9782491251307.jpg" width="150" height="190"></a>
    </div>
    <div class="col-md-10 col-sm-9">
        <h3>{{books.title}}</h3>
        <h3>{{books.genre}}</h3>
        <h3>{{books.author}}</h3>
        <div class="row">
            <div class="col-xs-9">
                <h4>
                    <small style="font-family:courier,'new courier';" class="text-muted">Crime</small>

                </h4>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <br><br>
    </div>
</div>