<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1> Welcome to the world of books
                    <p class="lead"></p>
                </h1>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 style="text-align: center;">“Give thy mind to books and libraries, and the literature and lore of the ages will give thee the wisdom of sage and seer.” </h3>
                    <h3 style="text-align: right;">– Newell D. Hillis</h3>
                    <br>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>